{{ form_start(form) }}
    {{ form_row(form.postTitle) }}
    {{ form_row(form.postContent) }}
    {{ form_row(form.postImage) }}
    {{ form_row(form.category) }}

    <p>
        <div class="d-flex justify-content-start">
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        </div>
    </p>
{{ form_end(form) }}
