{% extends 'base.html.twig' %}

{% block title %}Edit Posts{% endblock %}

{% block body %}
    {% include "front/_nav.html.twig" %}
    <div class="container">

        {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}
        <h1>Edit Posts</h1>
        
        {{ include('posts/_form.html.twig', {'button_label': 'Update'}) }}
        
        <a href="{{ path('posts_index') }}"><button class="btn btn-primary">back to list</button></a>
        
        {{ include('posts/_delete_form.html.twig') }}
    </div>
{% endblock %}
