{% extends 'base.html.twig' %}

{% block title %}New Posts{% endblock %}

{% block body %}
{% include "front/_nav.html.twig" %}
<div class="container">

    <h1>Create new Posts</h1>
    
    {{ include('posts/_form.html.twig') }}
    
    <a href="{{ path('posts_index') }}"><button class="btn btn-info">back to list</button></a>
</div>
{% endblock %}
