{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
{% include "front/_nav.html.twig" %} 
<div class="container">
    <h1>Posts</h1>
    
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th scope="row">PostTitle</th>
                <td>{{ post.postTitle }}</td>
            </tr>
            <tr>
                <th scope="row">PostSlug</th>
                <td>{{ post.postSlug }}</td>
            </tr>
            <tr>
                <th scope="row">PostContent</th>
                <td>{{ post.postContent }}</td>
            </tr>
            <tr>
                <th scope="row">PostImage</th>
                <td>{{ post.postImage }}</td>
            </tr>
            <tr>
                <th scope="row">PostCreatedAt</th>
                <td>{{ post.postCreatedAt ? post.postCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th scope="row">PostUpdatedAt</th>
                <td>{{ post.postUpdatedAt ? post.postUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <p>
        <a href="{{ path('posts_index') }}"><button class="btn btn-primary">back to list</button></a>
    </p>
    
    <a href="{{ path('posts_edit', {'id': post.id}) }}"><button class="btn btn-warning">edit</button></a>
    
    {{ include('posts/_delete_form.html.twig') }}
</div>
    {% endblock %}
