{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block body %}
{{ include('front/_nav.html.twig') }}
<div class="container">
    <form method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        
        {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        {% endif %}
        
        <h1 class="h1 mb-3 font-weight-normal">Please sign in</h1>
        <h5><a href="{{ path('app_forgot_password_request') }}">Forgot your password ?</a></h5>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" maxlength="10" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        
        <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
        >
        
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
            
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}
            <p>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Sign in
                    </button>
                </div>
            </p>
        </form>
    </div>

{% endblock %}
