{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{{ include('front/_nav.html.twig') }}
    <div class="container">
        {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        
        <h1>Register</h1>
        
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.login) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <span>
            <a href="#" target="_blank" rel="noopener noreferrer">Terms of use</a>
            <a href="#" target="_blank" rel="noopener noreferrer">Legal Notice</a>
        </span>
        <p>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-lg btn-success">Register</button>
            </div>
        </p>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
