{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container">
    {% for flashError in app.flashes('reset_password_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Reset your password</h1>
    
    {{ form_start(requestForm) }}
    {{ form_row(requestForm.email) }}
    <div>
        <small>
            Enter your email address and we we will send you a
            link to reset your password.
        </small>
    </div>
    <p>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary">Send password reset email</button>
        </div>
    </p>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
