{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container">
    <h1>Reset your password</h1>
    <p>Please enter your new password below</p>
    {{ form_start(resetForm) }}
    {{ form_row(resetForm.plainPassword) }}
    <p>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary">Reset password</button>
        </div>
    </p>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
