{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    {% include "front/_nav.html.twig" %}
    <div class="container">
        <h1>Modifier un utilisateur</h1>
        {{ form_start(userForm) }}
        {{ form_row(userForm.email) }}
        {{ form_row(userForm.roles) }}
        <p>
            <div class="d-flex justify-content-end"><button class="btn btn-lg btn-success">Submit</button></div>
        </p>
        {{ form_end(userForm) }}
        <a href="{{ path('admin_users') }}"><button class="btn btn-primary">back to list</button></a>
    </div>
{% endblock %}