{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
{{ include('front/index.html.twig') }}
    <div class="container">
        <h1>Liste des utilisateurs</h1>
        <table class="table table-striped">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Rôles</th>
            <th scope="col">Articles</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
            {# On boucle sur les utilisateurs #}
            {% for user in users %}
            <tr>    
                <th scope="row">{{ user.id }}</th>
                    <td>{{ user.email }}</td>
                <td>
                    {# On boucle sur les rôles #}
                    {% for role in user.roles %}
                    {% if role == "ROLE_USER" %}
                    Utilisateur
                    {% elseif role == "ROLE_EDITOR" %}
                    Editeur
                    {% elseif role == "ROLE_ADMIN" %}
                    Administrateur
                    {% endif %}
                    {% endfor %}
                </td>
                <td>{{ user.posts|length }}</td>
                <td><a href="{{ path('admin_edit_users', {'id': user.id}) }}"><button class="btn btn-warning">Modifier</button></a></td>
            </tr>
            
            {% else %}
            <p>Aucun utilisateur inscrit</p>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}