{{ form_start(form) }}
    {{ form_start(form) }}
    {{ form_row(form.categTitle) }}
    {{ form_row(form.categDescription) }}
    <p>
        <div class="d-flex justify-content-start">
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        </div>
    </p>
{{ form_end(form) }}
