{% extends 'base.html.twig' %}

{% block title %}Edit Categories{% endblock %}

{% block body %}
{{ include('front/_nav.html.twig') }}

    <div class="container">

        <h1>Edit Categories</h1>
        
        {{ include('categories/_form.html.twig', {'button_label': 'Update'}) }}
        
        <a href="{{ path('categories_index') }}"><button class="btn btn-info">back to list</button></a>
        <div class="d-flex justify-content-end">
            {{ include('categories/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
