{% extends 'base.html.twig' %}

{% block title %}Categories index{% endblock %}

{% block body %}
{{ include('front/_nav.html.twig') }}

    <div class="container">

        <h1>Categories index</h1>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">CategTitle</th>
                    <th scope="col">CategDescription</th>
                    <th scope="col">CategSlug</th>
                    <th scope="col">CategCreatedAt</th>
                    <th scope="col">CategUpdatedAt</th>
                    <th scope="col">actions</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.categTitle }}</td>
                    <td>{{ category.categDescription }}</td>
                    <td>{{ category.categSlug }}</td>
                    <td>{{ category.categCreatedAt ? category.categCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ category.categUpdatedAt ? category.categUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('categories_show', {'id': category.id}) }}"><button class="btn btn-secondary">show</button></a>
                        <a href="{{ path('categories_edit', {'id': category.id}) }}"><button class="btn btn-warning">edit</button></a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <a href="{{ path('categories_new') }}">
            <button class="btn btn-primary">Create new</button>
        </a>
    </div>
{% endblock %}
