{% extends 'base.html.twig' %}

{% block title %}New Categories{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Categories</h1>
        
        {{ include('categories/_form.html.twig') }}
        
        <a href="{{ path('categories_index') }}"><button class="btn btn-primary">back to list</button></a>
    </div>
{% endblock %}
