{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
{{ include('front/_nav.html.twig') }}

    <div class="container">

        <h1>Categories</h1>
        
        <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>CategTitle</th>
                <td>{{ category.categTitle }}</td>
            </tr>
            <tr>
                <th>CategDescription</th>
                <td>{{ category.categDescription }}</td>
            </tr>
            <tr>
                <th>CategSlug</th>
                <td>{{ category.categSlug }}</td>
            </tr>
            <tr>
                <th>CategCreatedAt</th>
                <td>{{ category.categCreatedAt ? category.categCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CategUpdatedAt</th>
                <td>{{ category.categUpdatedAt ? category.categUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <p>
        <a href="{{ path('categories_index') }}"><button class="btn btn-info">back to list</button></a>
    </p>
    <a href="{{ path('categories_edit', {'id': category.id}) }}"><button class="btn btn-warning">edit</button></a>
    <div class="d-flex justify-content-end">
        {{ include('categories/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
