<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ path('app_front') }}">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_front') }}">Home</a>
          </li>          
          {% if is_granted('ROLE_USER') %}
          <li class="nav-item">
            <a class="nav-link" href="#">My Account</a>
          </li>
          {% if is_granted('ROLE_EDITOR') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('posts_new') }}">Create Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Posts</a>
          </li>
          {% endif %}
          {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('posts_index') }}">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('comments_index') }}">Comments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_users') }}">Members</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ path('categories_index') }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">Register</a>
          </li>
          {% endif %}
          
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
