{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{{ include('front/_nav.html.twig') }}


  {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %}
{% endblock %}
