<form method="post" action="{{ path('comments_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <div class="d-flex justify-content-end">
        <button class="btn btn-danger">Delete</button>
    </div>
</form>
