{{ form_start(form) }}
    {{ form_row(form.commentContent) }}
    {{ form_row(form.emailAuthor) }}
    {{ form_row(form.rgpd) }}

    <p>
        <div class="d-flex justify-content-start">
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        </div>
    </p>
{{ form_end(form) }}
