{% extends 'base.html.twig' %}

{% block title %}Edit Comments{% endblock %}

{% block body %}
{% include "front/_nav.html.twig" %}
    <div class="container">

        <h1>Edit Comments</h1>
        
        {{ include('comments/_form.html.twig', {'button_label': 'Update'}) }}
        
        <a href="{{ path('comments_index') }}"><button class="btn btn-primary">back to list</button></a>
        
        {{ include('comments/_delete_form.html.twig') }}
    </div>
{% endblock %}
