{% extends 'base.html.twig' %}

{% block title %}Comments index{% endblock %}

{% block body %}
{% include "front/_nav.html.twig" %}
<div class="container">

    <h1>Comments index</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CommentContent</th>
                <th>Rgpd</th>
                <th>EmailAuthor</th>
                <th>CommentCreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.commentContent }}</td>
                <td>{{ comment.rgpd ? 'Yes' : 'No' }}</td>
                <td>{{ comment.emailAuthor }}</td>
                <td>{{ comment.commentCreatedAt ? comment.commentCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('comments_show', {'id': comment.id}) }}"><button class="btn btn-primary">show</button></a>
                    <a href="{{ path('comments_edit', {'id': comment.id}) }}"><button class="btn btn-warning">edit</button></a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('comments_new') }}"><button class="btn btn-success">Create new</button></a>
</div>
{% endblock %}
