{% extends 'base.html.twig' %}

{% block title %}New Comments{% endblock %}

{% block body %}
    {% include "front/_nav.html.twig" %}
    <div class="container">

        <h1>Create new Comments</h1>
        
        {{ include('comments/_form.html.twig') }}
        <p>
            <div class="d-flex justify-content-start">
                <a href="{{ path('comments_index') }}"><button class="btn btn-primary">back to list</button></a>
            </div>
        </p>
    </div>
{% endblock %}
