{% extends 'base.html.twig' %}

{% block title %}Comments{% endblock %}

{% block body %}
{% include "front/_nav.html.twig" %}
    <div class="container">

        <h1>Comments</h1>
        
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ comment.id }}</td>
                </tr>
                <tr>
                    <th>CommentContent</th>
                    <td>{{ comment.commentContent }}</td>
                </tr>
                <tr>
                    <th>Rgpd</th>
                    <td>{{ comment.rgpd ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>EmailAuthor</th>
                    <td>{{ comment.emailAuthor }}</td>
                </tr>
                <tr>
                    <th>CommentCreatedAt</th>
                    <td>{{ comment.commentCreatedAt ? comment.commentCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>
        <p>
            <a href="{{ path('comments_index') }}"><button class="btn btn-primary">back to list</button></a>
        </p>
        
        <a href="{{ path('comments_edit', {'id': comment.id}) }}"><button class="btn btn-warning">edit</button></a>
        
        {{ include('comments/_delete_form.html.twig') }}
    </div>
{% endblock %}
