{% extends 'base.html.twig' %}

{% block title %}Access forbidden{% endblock %}

{% block body %}
<div class="container error d-flex justify-content-center flex-column align-items-center">
    <h1>You do not have the right to access this page</h1>
    <p>The page you are looking for is not recognizable</p>
    <p>The code is : {{status_code}}</p>
    <p>The text is : {{status_text}}</p>
    <p>Return to the <a href="{{ path('app_front') }}">homepage</a></p>
</div>
{% endblock %}