{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
<div class="container error d-flex justify-content-center flex-column align-items-center">
    <h1>An error occured</h1>
    <p>The code is  : {{status_code}}</p>
    <p>The text is  : {{status_text}}</p>
    <p>Return to the <a href="{{ path('app_front') }}">homepage</a></p>
</div>
{% endblock %}