{% extends 'base.html.twig' %}

{% block title %}Page not found{% endblock %}

{% block body %}
<div id="error">
    <div class="container error d-flex justify-content-center flex-column align-items-center">
        <h1>The requested page couldn't be located</h1>
        <p>The code is  : {{status_code}}</p>
        <p>The text is  : {{status_text}}</p>
        <p>Return to the <a href="{{ path('app_front') }}">homepage</a></p>
    </div>
</div>
{% endblock %}